body {
  text-align: center;
  background-color:#EFF9FD;  
  font-family:'Roboto', sans-serif; 
  color: #161637
 ; 
  font-size:20px ;
  line-height:21px ;
  margin: 10px 60px 10px 60px;
}
p {
  font-family:'DM Sans', sans-serif;
}

h1 {
  font-family:'DM Sans', sans-serif;
  color: #161637
 ; 
  font-size:30px ;
  line-height: 50px ;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 18px

}
img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit:cover;
  object-position: top;
  /* display: inline-block; */
    
}
button {
  border-radius: 50px;
  background-color: #32349A
;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 20px;
  border: none;
  transition: 300ms ease;
}

button a{
  color: #F0F0F0;
  text-decoration: none;
}
button:hover {
  
  color: #161637
;
  background-color:#494aa0;
}



ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  display: inline;

}
li a {
  text-decoration: none;
  color: #161637
  
}
div {
  border-radius: 5px;
  background-color:#EFF9FD;
}
 .header {
   
   padding: 13px;
   width:622px;
   margin: 20px auto;
   padding-top: 2px;
   background-color: white;
;
 }
 .container {
   padding: 13px;
   width: 622px;
   margin: 20px auto;
   
 }
 .footer {
   color: #161637;
   background-color: #D5F3FF;
   width: 622px;
   padding: 13px;
   margin: 20px auto;
   box-shadow: 0 2px 2px rgba(233, 233, 233, 0.959)
 }
 /* .card {
    text-align: center;
    background: white;
    padding: 40px;
    color: white;
    padding: 4px; */
    
 /* } */
 .name-picture {
   padding: 6px;
   display: flex;
   justify-content: center;
   margin-top: 19px;
   background-color: white;
   border: 4px solid;
   border-color: white;
   

 }
 #history {
   background-image:linear-gradient(45deg
, #eeeeee57, rgb(255 255 255 / 0%)), url(images/egypt.jpg);
   background-size:cover;
   padding: 50px 0;
   border-radius: 5px;
   color: white;
   margin: 5px
   
 }
 #chinese {
   background-image:linear-gradient(
45deg
 , #242627, rgb(255 255 255 / 0%)), url(images/china.jpg);
   background-size:cover;
   padding: 50px 0;
   border-radius: 5px;
   margin: 5px;
   color: white;

 }
 #cats {
   background-image:linear-gradient(
45deg
 , #5f5c5c91, rgb(0 0 0 / 32%)),url(images/cats.jpg);
   background-size:cover;
   padding: 50px 0;
   border-radius: 5px;
   margin: 5px;
   color: white;
 }
 .card {
    text-align: center;
    background-color:#FFFFFF;
    padding: 40px;
    color: white;
    padding: 9px;
    margin: 30px;
 }

 
